.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    max-width:100%;
    margin: auto;
}

.profForm {
    width: 80%;
    padding: 50px;
    border-radius: 10px;
    /* background: rgb(246, 247, 249); */
}

.transButton{
    cursor: default;
}

#submitButton{
    color: transparent;
    text-align: center;
}

.profileTitle {
    font-size: 30px;
    margin-bottom: 35px;
    color: #00BCD4;
    
}

.profLabel {
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

.form-ctrl{
    width: 70%;
    float: right;
    border-radius: 750px;
    padding-left: 3%;
    border: 1px solid rgb(191, 189, 189);
}

.editProf{
    padding-top: 3%;
}
